<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Please Login</title>
</head>
<body>
    {% if form.errors %}
        <p class="text-warning">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form role="form" class="form-horizontal" method="post" >
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Login" />
        <input type="hidden" name="next" value=" {{ next }}"/>
    </form>
</body>
</html>